<% if current_user.id = @user.id %>
    <h1>users/:id/edit</h1>
    <%= form_for @user do |f| %>
        <%= render partial: 'edit', locals: {f: f, user: @user} %>
        <div><%= f.submit 'Submit' %></div>
    <% end %>
<% else %>
    <h1>No Access</h1>
<% end %>